{% extends 'layout_en.html' %}
{% block title %}Blog{% endblock %}
{% block description %}Here are our articles about France and French language.{% endblock %}
{% block url_cn %}{{ url_for("blog_cn") }}{% endblock %}
{% block url_fr %}{{ url_for("blog_fr") }}{% endblock %}
{% block optional_nav %}{% include 'blog/nav_en.html' %}{% endblock %}

{% block main %}
<main class='blog'>
	<div class='blog-card'>
		<article class='card-body'>
			<p class='center'>Page under construction. Please bear with us!</p>
		</article>
	</div>
</main>
{% endblock %}
