{% extends 'layout_cn.html' %}

{% block title %}在线上课{% endblock %}

{% block description %}我们的法语外教可以使用中英法三语授课。{% endblock %}

{% block url_en %}{{ url_for("classes_en") }}{% endblock %}
{% block url_fr %}{{ url_for("classes_fr") }}{% endblock %}

{% block main %}
<main class='company'>
	<div class='service-card'>
		<div class='card-header'>
			<a class='previous-card' href='#'></a>
			<h2>在线课程</h2>
			<a class='next-card' href='{{ url_for("translation_cn") }}'>&gt;</a>
		</div>
		<div class='card-body'>
			<p>团队自2012年起不间断的进行教学工作，授课总时长超过3000小时，我们的法语老师可以根据学生的不同背景，学习目的、量身定制属于你的法语课，可以有以下多种选择：</p>
			<h3>教学语言</h3>
			<ul>
				<li>汉语</li>
				<li>英语</li>
				<li>法语</li>
			</ul>
			<h3>教授级别</h3>
			<ul>
				<li>零基础初学者</li>
				<li>A1到C2水平的法语学习者</li>
			</ul>
			<h3>针对目的</h3>
			<ul>
				<li>基础日常沟通交流</li>
				<li>全面掌握法语语言</li>
				<li>口语练习</li>
				<li>考试、面试准备</li>
			</ul>
			<h3>授课时间</h3>
			<ul>
				<li>按需安排临时课时</li>
				<li>规律性周期课程</li>
				<li>密集强化训练课程</li>
			</ul>
		</div>
	</div>
</main>
{% endblock %}
