{% extends 'layout_fr.html' %}

{% block title %}Traduction{% endblock %}

{% block description %}Notre équipe franco-chinoise traduira vos documents en français ou chinois.{% endblock %}

{% block url_cn %}{{ url_for("translation_cn") }}{% endblock %}
{% block url_en %}{{ url_for("translation_en") }}{% endblock %}

{% block main %}
<main>
	<div class='service-card'>
		<div class='card-header'>
			<a class='previous-card' href='{{ url_for("classes_fr") }}'>&lt;</a>
			<h2>Traduction</h2>
			<a class='next-card' href='{{ url_for("services_fr") }}'>&gt;</a>
		</div>
		<div class='card-body'>
			<p>Nos traducteurs, chinois et français, ont respectivement passé plusieurs années en France et en Chine, et utilisent les deux langues quotidiennement.</p>
			<p class='light'>Notre chef d'équipe, arrivée en France en 2009, a notamment traduit une <em><a class='underline' href='http://gallica.bnf.fr/ark:/12148/bpt6k99291p'>Histoire naturelle</a></em> de François Levaillant (1799).</p>
			<p>Ensemble, ils ont traduit et traduiront pour vous :</p>
			<h3>Documents officiels</h3>
			<ul>
				<li>Diplômes</li>
				<li>Actes de cession</li>
				<li>Contrats de coentreprise</li>
			</ul>
			<h3>Sous-titres</h3>
			<ul>
				<li>Traduction et/ou production</li>
				<li>En français ou chinois</li>
				<li>Traduction possible depuis l'anglais</li>
			</ul>
			<h3>Autres</h3>
			<ul>
				<li>Ouvrages complets</li>
				<li>Articles divers</li>
			</ul>
		</div>
	</div>
</main>
{% endblock %}
